<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PostManagementRazorPages</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PostManagementRazorPages.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .tox-statusbar__branding {
            display: none;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Home/Index">
                    <img src="https://cdn-icons-png.flaticon.com/512/38/38442.png" width="50" height="50" style="transform: scaleX(-1);" />
                    fakebook
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @*         <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Home/Index">Home</a>
                        </li> *@
                        @*                         <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li> *@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PostManagementRazorPages - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/postHub")
            .build();

        connection.start().then(function () {
            console.log("Connected to the SignalR Hub.");
        }).catch(function (err) {
            return console.error(err.toString());
        });

        connection.on("ReceivePostUpdate", function (message) {
            toastr.info(message);
        });
    </script>
    <script type="text/javascript" src="~/lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: 'textarea:not(.no-tinymce)',
            plugins: 'autolink emoticons link lists searchreplace wordcount image media',
            toolbar: 'undo redo | blocks fontsize | bold italic underline | link | align lineheight | numlist bullist indent outdent | emoticons charmap | image media | removeformat',
            promotion: false,
            height: 400,
            setup: function (editor) {
                editor.on('blur', function () {
                    // Set the textarea value to the editor content
                    editor.save();
                });

                editor.on('change', function () {
                    // Get the original textarea element by name
                    const textarea = document.querySelector('textarea[name="Content"]');
                    editor.save(); // Save content to the original textarea
                    // Trigger the change event on the original textarea for validation
                    if (textarea) {
                        const event = new Event('change', {
                            bubbles: true,
                            cancelable: true,
                        });
                        textarea.dispatchEvent(event);
                    }
                });
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>